.smallJobCardMainContainer{
    height: 51vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 1%;
    cursor: pointer;
}

.smallJobCardMainContainer:hover{
    box-shadow: 5px 5px 5px 5px rgb(176, 171, 171);
}

.smallJobCardHeaders{
    height: 20%;
    width: 100%;
    /* background-color: aliceblue; */
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
}

.imageHeader{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageHeader>img{
    height: 80%;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
}

.titleHeader{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titleHeader>h4{
    font-weight: 100;
}

.smallJobCardAttributes{
    height: 30%;
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.smallJobCardAttributes>li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1vh 1vh;
    text-transform: capitalize;
}

.smallJobCardDetails{
    height: 40%;
    width: 100%;
    /* background-color: azure; */
}

.smallJobCardDetails>p{
    height: 100%;
    width: 100%;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
    padding: 10px 5px ;
    padding-bottom: 20px;
}