.mainOuterContainer{
    height: 100vh;
    width: 100%;
    background-color: rgb(216, 207, 195);
}

.mainInnerContainer{
    height: 100%;
    background-color: rgb(253, 204, 143);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formHeaderContainer{
    height: 10%;
    width: 100%;
    background-color: rgb(196, 162, 122);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formFieldsContainer{
    height: 90%;
    width: 100%;
    background-color: rgb(150, 134, 114);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formFieldsContainer>form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formFieldsContainer>form>label{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.formFieldsContainer>form>label>input{
    outline: none;
    height: 6vh;
    width: 80%;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 0% 2%;
    margin: 2vh 1vh;
    font-size: large;
}

.selectField{
    appearance: none;
    outline: none;
    height: 6vh;
    width: 80%;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 0% 2%;
    margin: 2vh 1vh;
    font-size: large;
}

.selectOptions{
    height: 6vh;
    color: black;
}

.formFieldsContainer>form>label>textarea{
    appearance: none;
    height: 30vh;
    width: 80%;
    resize: none;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 2%;
    margin: 2vh 1vh;
    font-size: large;
    outline: none;    
}