.homeBodyContainer{
    overflow-x: hidden;
}

.mainHomeContainer{
    height: 100%;
    width: 100%;
}

.headerImageContainer{
    height: 65vh;
    background: url("./../static/images/abstract_design_pattern.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHomeHeadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchParamsBar{
    height: 11vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    background-color: white;
    border-radius: 50px;
    align-items: center;
    margin-top: 7vh;
}

.searchParamsForm{
    height: 70%;
    width: 90%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.searchParamsForm>input{
    height: 75%;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    padding-left: 10px;
}

.searchParamsForm>div{
    height: 75%;
    width: 30%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: none; */
}

.searchParamsForm>div>div{
    height: 100%;
    width:100%;
    border: none;
}

.optionStyles{
    background-color: white;
}

.jobRecommendationSection{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.recHeadingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 50%;
    margin: 2% 0%;
}

.recHeadingContainer>h1{
    color: #12569b;
}

.jobCardsContainer{
    height: 70%;
    width: 90%;
    background-color: rgb(202, 249, 252);
    border: none;
    border-radius: 10px;
}

.blogRecommendationSection{
    height: 100vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.blogCardsContainer{
    height: 70%;
    width: 90%;
    background-color: blanchedalmond;
    border: none;
    border-radius: 20px;
}

.companyRecommendationSection{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: blue; */
}

.companyCardsContainer{
    height: 30vh;
    width: 90%;
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.companyCardsContainer>img{
    height: 80%;
    width: auto;
}

.testimonialsSection{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonialsCardsContainer{
    height: 60vh;
    width: 90%;
    background-color: blanchedalmond;
    border: none;
    border-radius: 15px;
}