.profilePageMainContainer{
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: beige; */
}

.leftMenuContainer{
    height: 100%;
    width: 18%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: burlywood; */

}

.userDetailsContainer{
    height: 12vh;
    width: 100%;
    background-color: white;
}

.rightFieldsContainer{
    height: 100%;
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: blanchedalmond; */
}

.rightFieldsContainer>div{
    padding: 2%;
}

.leftMenu{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftMenu>div{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid lightblue; */
    padding: 0% 5%;
    cursor: pointer;
}

.leftMenu>div:hover:not(.select){
    background-color: rgb(210, 245, 255);
}

#profileContent{
    min-height: 150vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(255, 145, 105); */
}

#profileContent>div.previewBtn{
    margin: 3vh auto;

}

#profileContent>div.profileImg{
    height: 50vh;
    /* background-color: rgb(128, 183, 231); */
}

.profileImg{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 3%;
}

.imageBox{
    height: 35vh;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageBox>img{
    height: 90%;
    aspect-ratio: 1/1;
    border: 1px solid rgb(183, 220, 233);
    border-radius: 50%;
}

.profileImg>label{
    height: 5vh;
    width: 15vw;
    background-color: #12569b;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profileForm{
    height: 100%;
    width: 100%;
    /* background-color: aliceblue; */
}

.profileForm>*{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.profileForm>*>h1{
    height: 7vh;
    width: 100%;
    padding: 0% 4%;
    margin: 3% 0%;
    /* border-bottom: 2px solid black; */
}

.profileForm>*>form{
    width: 100%;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vh;
}

.profileForm>*>form>input{
    height: 5vh;
    outline: none;
    border: 1px solid lightgray;
    font-size: 1.05rem;
    padding: 2%;
    border-radius: 5px;
    margin: 0% 5%;
}

.profileForm>*>form>input::placeholder{
    color: rgb(207 191 191);
}

.profileForm>*>form>input:focus::placeholder{
    color: transparent;
}

#accountContent{
    height: 88vh;
    width: 100%;
    /* background-color: aliceblue; */
}

.accountSettings{
    padding: 3%;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.accountSettings>h1{
    margin: 0% 3%;
}

.accountSettings>form{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.accountSettings>form>input{
    height: 5vh;
    width: 50%;
    outline: none;
    border: 1px solid lightgray;
    font-size: 1.05rem;
    padding: 2%;
    border-radius: 5px;
    margin: 0% 5%;
}

.accountSettings>form>label{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0% 5%;
}

.accountSettings>form>label>input{
    height: 3vh;
    aspect-ratio: 1/1;
    outline: none;
    border: 1px solid lightgray;
    font-size: 1.05rem;
    padding: 2%;
    border-radius: 5px;
}

.btnContainer{
    height: 10vh;
    width: 100%;
    padding: 0% 5%;
}

#historyContent{
    min-height: 88vh;
    height: auto;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5vh 0vh !important;
}

.postedJobs{
    min-height: 88vh;
    height: auto;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    padding: 5vh 0vh !important;
}

#historyContent::-webkit-scrollbar{
    cursor: pointer;
    width: 5px;
}

#historyContent::-webkit-scrollbar-thumb{
    background-color: darkgray;
}

.postedJobsMainContainer{
    height: 100%;
    width: 98%;
    /* border: 1px solid lightblue; */
}

.postedJobs::-webkit-scrollbar{
    cursor: pointer;
    width: 5px;
}

.postedJobs::-webkit-scrollbar-thumb{
    background-color: darkgray;
}

.jobHistoryContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.appliedJobsContainer{
    height: auto;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jobWithDetails{
    min-height: 55vh;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0vh;
}

.applicantsContainer{
    height: auto;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.applicantsContainer svg{
    height: 4vh;
    width: auto;
}

.applicantsContainer>ol>li>p>span>a{
    all: revert;
}

.jobControls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.select{
    background-color: rgb(195, 215, 221);
}

.hide{
    display: none !important;
}